/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b4e8e6;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: #000;
    color: #f0f0f0;
    text-align: center;
    padding: 5px;
}

header h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

header p {
    font-size: 15px;
}

header img {
    width: 250px; /* Adjust the width to your preferred size */
    height: 100px;
    margin: 0 ; /* Center the image horizontally */
}

section {
    margin: 10px;
    padding: 20px;
    background-color: #b4e8e6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px; /* Adjust the value to control the amount of space */
}

.project {
    margin-bottom: 10px;
}

.project h3 {
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.project p {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0078d4;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.project-image {
    width: 500px; /* Set the desired width */
    height: 350px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;   /* Set the desired height */
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Set the desired height for the container */
}

.project {
    /* Add any styles for your project container here */
    text-align: center;
}

#technologies {
    text-align: center;
}

.tech-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between tech badges */
    margin-top: 10px;
}

.tech-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #b4e8e6;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.tech-badge:hover {
    transform: scale(1.05); /* Add a slight zoom effect on hover */
}

.badge-text {
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
}

.badge-details {
    display: none;
    margin-top: 1px;
}

.tech-badge:hover .badge-details {
    display: block;
}

/* Styles for Technology Badges */
#technologies11 {
    text-align: center;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between tech badges */
    margin-top: 10px;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #b4e8e6;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.tech:hover {
    transform: scale(1.05); /* Add a slight zoom effect on hover */
}

.badge {
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: bold;
}

.tech:hover .badge-details {
    display: block;
}

/* Initially hide the image gallery */
.image-gallery {
    display: none;
    text-align: center; /* Center-align the images within the gallery */
}

/* Style the images within the gallery */
.gallery-image {
    display: inline-block;
    max-width: 20%;
    max-height: 30%; /* Ensure images don't exceed their container's width */
    margin: 20px; /* Add spacing between images */
    /* border: 2px solid #000;  */
    border-radius: 10%;/* Add a border style to the images */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    body,
    header img,
    .project,
    .project h3,
    .project-image,
    .image-container{
        margin:0
    }

    .project h3 {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .project-image {
        max-width: 100%;
        height: auto;
        border-radius: 0; 
    }

    .image-container {
        height: auto;
    }
}


/* Define a CSS class to hide the phone number */
.hidden {
    display: none;
}





/* Navbar */



.nav-menu {
    width: 0;
    height: 29%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.nav-menu.open {
    width: 200px;
}

.nav-content {
    padding: 40px;
    
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu-button {
    cursor: pointer;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border:#000;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

